body 
{  
    
  
}

.headerBar
{
    background-color: whitesmoke;
    box-shadow: 0px 0px 25px 10px rgba(73, 73, 231, 0.459);
    margin-bottom: 16px

}

.headerBar .icon img
{
      width: 50px;
     
}
.icon
{
    display: inline-block
}
.headerheadtext
{
    float: right;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.3em
}

.navbar
{
    text-align: center
}

.navbar li
{
    padding: 10px;
    border: 1px solid rgba(73, 73, 231, 0.164);
    display: inline-block;
    margin: 4px;
   
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;

}

article
{
    width: 95%;
    margin: 0 auto;

}

.welcomequote
{
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.349);
    text-align: center;
}

.welcomequote span
{
    font-size:30px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.principalintro
{
    background-color: rgba(245, 245, 245, 0.555);
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.1px;
    line-height: 25px;
    box-shadow: -20px 0px 60px 10px rgba(73, 73, 231, 0.164);
    margin-bottom: 40px
}

.principalintro img
{
    width: 40%;
    float: left;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 8px
}

.principalmention
{
    text-align: center;
    padding: 0
}

.principalmention p
{
    margin: 0;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.418)
}

.statementsbox
{
    text-align: center;
    line-height: 1.5em;

}
.statement
{
    border-bottom: 3px solid rgba(73, 73, 231, 0.459);
    box-shadow: 0px 0px 25px 15px rgba(73, 73, 231, 0.192);
    margin-bottom: 95px;
    margin-top: 90px
}
.statementsbox img
{
    width: 100px;
}

.meetpaststudent
{
    text-align: center;
    
}
.paststudentbox img
{
    margin-top: 30px;
    width: 100px 
}

.paststudentbox
{
    border: 1px solid blue;
    padding-bottom: 5em;;
    margin: 50px 0;
    padding-right:10px;
    padding-left: 10px
}

.paststudentbox h2
{
    
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(18, 18, 243, 0.582);
    color: whitesmoke;
    padding: 5px
}



.nextsection
{
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 255, 0.274)
}

.talkbox
{
    background-color: whitesmoke;
    text-align: center;
    margin: 30px 0px;
   
    

}

.talkbox .nextsection
{
    margin: 70px
}

.talkbox img
{
    width: 50px
}

.talkperson img
{
    width: 200px;
    border-radius: 15px
}

.footer
{
    text-align: center;
    background-image: linear-gradient(white, rgba(0, 0, 134, 0.336));
    box-shadow: 0px -2px 15px 7px rgba(0, 0, 255, 0.301);
    padding: 15px 0px
}

.footer img
{
    width: 200px
}